<div [hidden]="formSubmitted">
	<form #cityForm="ngForm" (ngSubmit)="onSubmit(cityForm)" >
        <span>Choose City:</span>
		<select id="city" name="city" ngModel>
			<option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
		</select>
		<button type="submit">Submit</button>
	</form>
</div>

<div [hidden]="!formSubmitted">
<table>
      <tr>
        <th>date</th>
        <th>{{weatherObject?.dt * 1000 | date:'yyyy/MM/dd'}}</th>
      </tr>
      <tr>
        <th>city name</th>
        <th>{{weatherObject?.name}}</th>
      </tr>
      <tr>
        <th>description</th>
        <th>{{weatherObject?.weather[0]?.description}}</th>
      </tr>
      <tr>
        <th>temp Fahrenheit</th>
        <th>{{weatherObject?.main?.temp | temperature:'fah'}}</th>
      </tr>
      <tr>
        <th>temp Celsius</th>
        <th>{{weatherObject?.main?.temp | temperature:'cel'}}</th>
      </tr>
      <tr>
        <th>sunrise</th>
        <th>{{weatherObject?.sys?.sunrise * 1000 | date:'h:mma' | lowercase}}</th>
      </tr>
      <tr>
        <th>sunset</th>
        <th>{{weatherObject?.sys?.sunset * 1000 | date:'h:mma' | lowercase}}</th>
      </tr>
    </table>
    <div>
    <button (click)="clearForm(cityForm)">new search</button>
    </div>
</div>